<nav class="navbar navbar-expand-lg " style="background-color: teal;margin: 15px;border-radius: 10px;">
    <a class="navbar-brand" href="#"style="color: white;">Campus Connect</a>
    <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-item nav-link active" href="/home" style="color: white;padding-left: 100px; ">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/createProduct"style="color: white;padding-left: 100px;">Create Product</a>
        <a class="nav-item nav-link" href="/ranks" style="color: white;padding-left: 100px;">Get ranks</a>
        <a class="nav-item nav-link" href="/job" style="color: white;padding-left: 100px;">Job Apply</a>

        <a class="nav-item nav-link" href="/" style="color: white;padding-left: 100px;">Logout</a>

      </div>
    </div>
  </nav>